<mat-spinner *ngIf="!post"></mat-spinner>

<div *ngIf="post" >

  <h1 class="mat-display-1">{{post.title}}</h1>

  <section>
    <div class="mat-body-1 post-body" [innerHTML]="post.body | safeHtml"></div>
  </section>

  <div>
    <span class="mat-subheading-2 author">Posted By @ {{post.author}} {{post.updateTime | date: 'medium'}}</span>
    <a mat-button [routerLink]="['/blog/edit-post', post.id]" color="primary" *ngIf='openIdConnectService.isUser(post.author)'>Edit</a>
    <a mat-button color="primary"   (click)="openDeleteDialog(post)" *ngIf='openIdConnectService.isUser(post.author)'>Delete</a>
  </div>
  
</div>