<mat-toolbar color="black">

    <button mat-button (click)="toggleSidenav.emit()">
      <mat-icon aria-label="Drawer Menu" svgIcon="baseline-menu"></mat-icon>
    </button>
  
    <span>A .NET Core Blog</span>
  
    <span class="toolbar-spacer"></span>
    <span *ngIf='openIdConnectService.userAvailable'>{{openIdConnectService.user.profile.name}}</span>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon svgIcon="baseline-more_vert"></mat-icon>
    </button>
  
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf='!openIdConnectService.userAvailable' (click)="openIdConnectService.triggerSignIn()">Sign In</button>
      <button mat-menu-item *ngIf='openIdConnectService.userAvailable' (click)="openIdConnectService.triggerSignOut()">Sign out</button>
    </mat-menu>
  
  </mat-toolbar>
  
<!--    
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand pointer" routerLink="home">Angular Blog</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pointer" routerLink="contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<header class="masthead" style="background-image: url('assets/images/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>