/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.navbar {
    padding-bottom: 18px;
  }
  
  #mainNav .navbar-nav>li.nav-item>a {
    margin-top: 12px;
  }