<mat-drawer-container class="app-sidenav-container" autosize>

  <mat-drawer #drawer class="app-sidenav mat-elevation-z10" [mode]="'over'" >

    <mat-toolbar color="white">
      Blog Demo
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item role="listitem" routerLink="/blog/post-list"  (click)="drawer.close()">Post List</mat-list-item>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item role="listitem" routerLink="/blog/post-table" (click)="drawer.close()" >Post Table</mat-list-item>
    </mat-nav-list>

  </mat-drawer>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="drawer.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>
